autopep8==1.5.7
backports.entry-points-selectable==1.1.0
distlib==0.3.2
filelock==3.0.12
greenlet==1.1.1
msgpack==1.0.2
neovim==0.3.1
parso==0.8.2
platformdirs==2.2.0
pycodestyle==2.7.0
pynvim==0.4.3
six==1.16.0
toml==0.10.2
virtualenv==20.7.0
